<template>
    <div class="container">

        <div class="card">
            <div class="card-header">
                Agregar nuevo Producto
            </div>
            <div class="card-body">
                <form v-on:submit.prevent= "agregarRegistro">
                    <div class="form-group">
                      <label for="nomrbre">Nombre: </label>
                      <input type="text"
                        class="form-control" required name="nombre" id="nombre" v-model="producto.nombre" aria-describedby="helpId" placeholder="Nombre">
                      <small id="helpId" class="form-text text-muted">Escribe el nombre del producto</small>
                    </div>
                     <div class="form-group">
                      <label for="nomrbre">Referencia: </label>
                      <input type="text"
                        class="form-control" required name="referencia" id="referencia" v-model="producto.referencia" aria-describedby="helpId" placeholder="Referencia">
                      <small id="helpId" class="form-text text-muted">Escribe la referencia del producto</small>
                    </div>
                    <div class="form-group">
                      <label for="nomrbre">Cantidad: </label>
                      <input type="number"
                        class="form-control" required name="cantidad" id="cantidad" v-model="producto.cantidad" aria-describedby="helpId" placeholder="Cantidad">
                      <small id="helpId" class="form-text text-muted">Escribe la cantidad del producto</small>
                    </div>
                    <div class="form-group">
                      <label for="nomrbre">Precio: </label>
                      <input type="number"
                        class="form-control" required name="precio" id="precio" v-model="producto.precio" aria-describedby="helpId" placeholder="Precio">
                      <small id="helpId" class="form-text text-muted">Escribe la precio del producto</small>
                    </div>

                    <div class="btn-group" role="group" aria-label="">
                        <button type="submit" class="btn btn-success">Agregar</button>

                        <router-link :to="{name:'Listar'}" class="btn btn-warning">Cancelar </router-link>
                    </div>


                </form>
            </div>
        </div>
        
    </div>
</template>

<script>
export default {

    data(){
        return{

            producto:{}
        }
    },

    methods: {
        agregarRegistro(){
            console.log(this.producto);

            var datosEnviar={nombre:this.producto.nombre, referencia:this.producto.referencia, cantidad:this.producto.cantidad, precio:this.producto.precio}

            fetch('http://localhost/productos/?insertar=1',{
                method:"POST",
                body:JSON.stringify(datosEnviar)
            })

            .then(respuesta=>respuesta.json())
            .then((datosRespuesta=>{
                console.log(datosRespuesta);
                window.location.href = 'listar';

            }))
        }
    },

    
}
</script>