<template>
    <div class="container">

        <div class="card">
            <div class="card-header">
                Editar nuevo Producto
            </div>
            <div class="card-body">
                <form v-on:submit.prevent= "actualizarRegistro">
                    <div class="form-group">
                      <label for="nomrbre">Nombre: </label>
                      <input type="text"
                        class="form-control" required name="nombre" id="nombre" v-model="producto.nombre" aria-describedby="helpId" placeholder="Nombre">
                      <small id="helpId" class="form-text text-muted">Escribe el nombre del producto</small>
                    </div>
                    <div class="form-group">
                      <label for="nomrbre">Referencia: </label>
                      <input type="text"
                        class="form-control" required name="referencia" id="referencia" v-model="producto.referencia" aria-describedby="helpId" placeholder="Referencia">
                      <small id="helpId" class="form-text text-muted">Escribe el referencia del producto</small>
                    </div>
                    <div class="form-group">
                      <label for="nombre">Cantidad: </label>
                      <input type="number"
                        class="form-control" required name="cantidad" id="cantidad" v-model="producto.cantidad" aria-describedby="helpId" placeholder="cantidad">
                      <small id="helpId" class="form-text text-muted">Escribe el cantidad del producto</small>
                    </div>
                    <div class="form-group">
                      <label for="nomrbre">Precio: </label>
                      <input type="email"
                        class="form-control" required name="precio" id="precio" v-model="producto.precio" aria-describedby="helpId" placeholder="precio">
                      <small id="helpId" class="form-text text-muted">Escribe el precio del producto</small>
                    </div>

                    <div class="btn-group" role="group" aria-label="">
                        <button type="submit" class="btn btn-success">Modificar</button>

                        <router-link :to="{name:'Listar'}" class="btn btn-warning">Cancelar </router-link>
                    </div>


                </form>
            </div>
        </div>
        
    </div>
</template>

<script>
export default {
    data(){
        return{

            producto:{}
        }
    },

    created:function(){
        this.obtenerInformacionID();
    },
    methods:{
        obtenerInformacionID(){
            
            fetch('http://localhost/productos/?consultar='+this.$route.params.id)
            .then(respuesta=>respuesta.json())
            .then((datosRespuesta)=>{
                console.log(datosRespuesta)
                this.producto = datosRespuesta[0];
                
            })
            .catch(console.log)
        },

        actualizarRegistro(){
            var datosEnviar={id:this.$route.params.id, nombre:this.producto.nombre, referencia:this.producto.referencia}

            fetch('http://localhost/productos/?actualizar='+this.$route.params.id,{
                method:"POST",
                body:JSON.stringify(datosEnviar)
            })

            .then(respuesta=>respuesta.json())
            .then((datosRespuesta=>{
                console.log(datosRespuesta);
                window.location.href = '../listar';

            }))
        }
    }
    
}
</script>