<template>
    <div class="container">
        
        <router-link to="/crear" class="btn btn-success">Agregar nuevo producto</router-link>
        <br>
        <br>
        <div class="card">
            <div class="card-header">
                Productos
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Referencia</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr v-for = "producto in productos" :key = "producto.id">
                            <td> {{producto.id}} </td>
                            <td> {{producto.nombre}} </td>
                            <td> {{producto.referencia}} </td>
                            <td> {{producto.cantidad}} </td>
                            <td> {{producto.precio}} </td>
                            <td> 

                                <div class="btn-group" role="group" aria-label="">
                                    
                                    <router-link :to="{name:'Editar', params:{id:producto.id}}" class="btn btn-info"> Editar </router-link>
                                    <button type="button" v-on:click="borrarProducto(producto.id)" class="btn btn-danger"> Borrar </button>


                                </div>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            
        </div>

    </div>
</template>

<script>
export default {
    data(){
        return{
            productos: []
        }
    },

    created: function(){
        this.consultarProductos();

    },
    methods:{

        consultarProductos(){

            fetch('http://localhost/productos/')
            .then(respuesta=>respuesta.json())
            .then((datosRespuesta)=>{

                console.log(datosRespuesta)
                this.productos = []
                if(typeof datosRespuesta[0].success === 'undefined')
                {
                    this.productos = datosRespuesta;
                }
            })
            .catch(console.log)
        },

        borrarProducto(id){

            fetch('http://localhost/productos/?borrar='+id)
            .then(respuesta=>respuesta.json())
            .then((datosRespuesta)=>{

                console.log(datosRespuesta)
                window.location.href="listar"
            })
            .catch(console.log)

            console.log(id);
        }

    }
    
}
</script>